# Names of variables to pull from the Data Jar bridge (one per line in DATAJAR_KEYS, comma separated)
DATAJAR_BRIDGE_URL=http://<ios-device-ip>:8080/variables
DATAJAR_BRIDGE_TOKEN=
DATAJAR_KEYS=OPENAI_API_KEY,GITHUB_TOKEN
